@model MarketPlaceProject.ViewModels.CompareVM

@{
    ViewBag.Title = "Compare Products";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css?version=1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header-container">
        <div class="logo-container">
            <a href="@Url.Action("MainPage", "Product")">
                <img src="~/Content/icons/login.png" alt="Logo" class="logo">
            </a>
        </div>
        <div class="header-search-container">
            @Html.Partial("_SearchBar", Model.Categories)
        </div>
    </div>

    <div class="compare-container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    @foreach (var product in Model.Products)
                    {
                        <th>
                            <img src="~/Content/icons/ProductImages/@(product.ProductID).jpg" alt="@product.ProductName" class="product-image">
                        </th>
                    }
                </tr>
                <tr>
                    <th>Description</th>
                    @foreach (var product in Model.Products)
                    {
                        <th>@product.ProductName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var attribute in Model.SubCategory.Attributes)
                {
                    <tr>
                        <td>@attribute.AttributeName</td>
                        @foreach (var product in Model.Products)
                        {
                            var detail = attribute.AttributeDetails.FirstOrDefault(ad => ad.ProductID == product.ProductID).Details;
                            <td>@detail</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>