@model IEnumerable<MarketPlaceProject.ViewModels.CategoryVM>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

<div class="search-container">
    <label for="categorySelect"></label>
    <select id="categorySelect" name="categorySelect">
        <option value=0>Category</option>
        @foreach (var category in Model)
        {
            <option value="@category.CategoryID">@category.CategoryName</option>
        }
    </select>

    <input id="subs" name="SubCategories" placeholder="Search..." list="sublist">
    <datalist id="sublist">
    </datalist>
    <button id="searchButton" placeholder="Search...">
        @*<img src="~/Content/icons/search.png" alt="Search" />*@
        @*//style="width: 35px; height: 35px;"*@
    </button>
</div>

<script>
    var subCategoryMap = {};
    $(function () {
        $('#categorySelect').change(function () {
            var availableSubs = [];
            var categoryID = $(this).val();
            if (categoryID != 0) {
                $.ajax({
                    url: '@Url.Action("GetSubCategories", "Product")',
                    data: { categoryID: categoryID },
                    success: function (data) {
                        $("#subs").empty();
                        $("#sublist").empty();
                        $.each(data, function (index, subCategory) {
                            availableSubs.push(subCategory.name);
                            subCategoryMap[subCategory.name] = subCategory.id;
                            var option = $('<option></option>').attr('value', subCategory.name);
                            $('#sublist').append(option);
                        });
                        $("#subs").autocomplete({
                            source: availableSubs
                        });
                    }
                });
            }
            else
            {
                subCategoryMap = {};
                availableSubs = [];
                $("#sublist").empty();
                $("#subs").autocomplete({
                    source: availableSubs
                })
            }
        });
        $('#categorySelect').trigger('change');

        $('#searchButton').click(function () {
            var selectedSub = $("#subs").val();
            var selectedSubID = subCategoryMap[selectedSub];
            if (selectedSubID) {
                window.location.href = '@Url.Action("SearchProducts", "Product")' + '?subcategoryID=' + encodeURIComponent(selectedSubID);
            }
        });

        $('#compareButton').click(function () {
            var selectedProducts = [];
            $('.product-checkbox:checked').each(function () {
                selectedProducts.push($(this).val());
            });
            if (selectedProducts.length > 0) {
                window.location.href = '@Url.Action("CompareProducts", "Product")' + '?productIDs=' + encodeURIComponent(selectedProducts.join(','));
            }
        });
    });
</script>